body {
  margin: 0 auto;
  max-width: 960px;
  font-family: sans-serif;
}

a {
  margin: 1rem;
  padding: 0.5rem;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 50%, #ddd 50%);
  background-size: 200% auto;
  transition: background-position 0.5s ease-out 0s;
  font-size: 1.5rem;
  /* background-position: 0 0; */
}

a:hover {
  background-position: -100% 0;
}