* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 1px;
  transform-style: preserve-3d;
  font-family: sans-serif;
  line-height: 1.5;
}

.parallax {
  padding: 2rem;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

.parallax:nth-child(1)::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transform: translateZ(-1px) scale(2);
  z-index: -1;
}

.parallax:nth-child(2)::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transform: translateZ(-1px) scale(2);
  z-index: -1;
}

.parallax:nth-child(3)::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transform: translateZ(-1px) scale(2);
  z-index: -1;
}

.parallax__title {
  font-size: 4rem;
}

.parallax__text {
  font-size: 2rem;
}