* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fix for jumping Scrollbar */
html {
  margin-left: calc(100vw - 100%);
  margin-right: 0;
}

@media screen and (min-width: 960px) {
  html {
    margin-left: calc(100vw - 100%);
    margin-right: 0;
  }
}
/* End fix for jumping Scrollbar */

body {
  font-family: sans-serif;
  line-height: 1.2;
  color: antiquewhite;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
  min-height: 100vh;
  display: flex;
  flex-flow: row nowrap;
}

.menu {
  flex: 0 0 50px;
  background-color: goldenrod;
  transition: 0.7s;
  list-style: none;
  font-size: bold;
  text-transform: uppercase;
  overflow: hidden;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.menu li {
  width: 130px;
  margin: 10px 10px 10px 0;
  padding: 5px;
  border-radius: 0 30px 30px 0;
  text-align: center;
  cursor: pointer;
  background-color: tomato;
}

.box {
  flex: 1 1 900px;
  display: flex;
  flex-flow: row wrap;
  background-color: limegreen;
}

.item {
  margin: 5px;
  padding: 10px;
  flex: 1 1 280px;
  height: 300px;
  background-color: mediumslateblue;
  overflow: hidden;
}

/* MENU ICON */
.checkbox-for-menu {
  display: none;
}

.icon {
  margin: 5px;
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: grey;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}

.icon span {
  width: 15px;
  border: 2px solid white;
}

.icon span:nth-child(1) {
  transform: rotate(45deg) translate(20px);
}

.icon span:nth-child(2) {
  transform: rotate(-45deg) translate(20px);
}

.checkbox-for-menu:checked ~ .menu {
  flex: 0 0 140px;
}

.checkbox-for-menu:checked ~ .menu .icon {
  transform: rotate(180deg);
}
