* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	/* centering body */
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.card {
	width: 150px;
	height: 250px;
	position: relative;
	transform-style: preserve-3d;
	transition: 0.2s;
}

.card:hover,
.card__back {
	transform: rotateY(180deg);
}

.card__front,
.card__back {
	width: 100%;
	height: 100%;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card__front {
	background-color: greenyellow;
}

.card__back {
	background-color: darkturquoise;
}

.card__text {
	
	font-size: 2rem;
}